<div class="card" style="width: 18rem;">
  <a href="/requests">
    <p>Create Maintenance Request</p>
  </a>
</div>

{{#if requests.length}}
  <div class="card" style="width: 18rem;">
    {{#each requests as |request|}}
      {{! <img src="..." class="card-img-top" alt="..." /> }}
      <div class="card-body">
        <h1 class="card-title">{{request.property.address_line1}}</h1>
        <p class="card-text">{{request.request_message}}</p>

      </div>

    {{/each}}

  </div>
{{/if}}

<script src="/javascript/logout.js"></script>