
<div class="container-fluid justify-center d-flex justify-content-evenly text-secondary" id="loginform">
    
        <form id="login-form" class="flex flex-col d-inline-block bg-dark border border-3 border-secondary ">
            <div class="mb-3">
                <label for="email-login" class="form-label">email:</label>
                <input type="text" id="email-login" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="password-login" class="form-label">password:</label>
                <input type="password" id="password-login" class="form-control" />
            </div>
            <div>
                <button type="submit" class="btn btn-secondary text-dark">login</button>
            </div>
        </form>
    

    
        <form id="signup-form" class="flex flex-col d-inline-block bg-dark border border-3 border-secondary">
            <div class="mb-3">
                <label for="username-signup" class="form-label">First Name:</label>
                <input type="text" id="firstname-signup" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="username-signup" class="form-label">Last Name:</label>
                <input type="text" id="lastname-signup" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="phone-signup" class="form-label">Phone:</label>
                <input type="text" id="phone-signup" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="email-signup" class="form-label">Email:</label>
                <input type="text" id="email-signup" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="password-signup" class="form-label">Password:</label>
                <input type="password" id="password-signup" class="form-control"/>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-secondary text-dark">Sign Up</button>
            </div>
        </form>
    

<div
  class="container-fluid justify-center d-flex justify-content-evenly text-secondary"
  id="loginform"
>

  <form
    id="login-form"
    class="flex flex-col d-inline-block bg-dark border border-3 border-secondary"
  >
    <div class="mb-3">
      <label for="email-login" class="form-label">email:</label>
      <input type="text" id="email-login" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">password:</label>
      <input type="password" id="password-login" class="form-control" />
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-secondary text-dark"
        id="login"
      >login</button>
    </div>
  </form>

  <form
    id="signup-form"
    class="flex flex-col d-inline-block bg-dark border border-3 border-secondary"
  >
    <div class="mb-3">
      <label for="username-signup" class="form-label">First Name:</label>
      <input type="text" id="firstname-signup" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="username-signup" class="form-label">Last Name:</label>
      <input type="text" id="lastname-signup" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="phone-signup" class="form-label">Phone:</label>
      <input type="text" id="phone-signup" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="email-signup" class="form-label">Email:</label>
      <input type="text" id="email-signup" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="password-signup" class="form-label">Password:</label>
      <input type="password" id="password-signup" class="form-control" />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-secondary text-dark">Sign Up</button>
    </div>
  </form>


</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>