
<div class="card" style="width: 18rem;">
    {{#each owner}}
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h1 class="card-title">{{owner.first_name}} {{owner.last_name}}</h1>
        <p class="card-text"><b>{{property.name}}</b></p>
    </div>
    <button type="submit" class="btn">view property</button>
    {{/each}}
</div>