<form class="request-form">
    <div>
        <label for="name-request">Name:</label>
        <input type="text" id="username-request" />
    </div>
    <div>
        <label for="email-request">Email:</label>
        <input type="text" id="email-request" />
    </div>
    <div>
        <label for="property-request">Property ID:</label>
        <input type="text" id="property-request" />
    </div>
    <div>
        <label for="text-request">Message:</label>
        <input type="text" id="message-request" />
    </div>
    <div>
        <button type="submit">Submit Request </button>
    </div>
</form>

<script src="/javascript/requests.js"></script>