<nav>
    {{#if loggedIn}}
    <a href="/dashboard">dashboard</a>
    <button id="logout" class="btn-no-style">logout</button>
    {{else}}
    <a href="/login">login</a>
    {{/if}}
</nav>

<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/public/javascript/signup.js"></script>